*{
  font-family: "Plus Jakarta Sans", serif !important;
}


.navbar{
  height: 5rem; 
  background-color: white;
  width: screen;
} 

.nav-link{
  color: #222222 !important;
  font-size: 0.9rem !important; 
  margin-bottom: 0.1rem  ;
  opacity: 0.8;
}
.nav-link:hover{
  opacity: 1;
}

.wonder{
 font-size: 1.9rem!important; 
  color: #fe424d !important; 
  margin: 0.3rem; 
  margin-bottom: 0.6rem; 
  opacity: 1; 
  margin-left: 2.6rem;
}

.fa-brands{
  color: #222222; 
  margin: 3px;
}

.f-info-socials{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 4rem; 
} 

.f-info-socials a{
  text-decoration: none; 
  color: black;
  margin: 1rem;
 }

.f-info-socials a:hover{
  opacity: 0.5;
}

.title{
  margin-right: 9rem;
}

.title:hover{
  opacity: 0.5;
}

.card{
  margin: 2rem 0.3rem  !important; 
  border-radius: 1rem !important;
}

.card:hover{
  opacity: 0.5;
}
.card-text{
 padding: 0;
}

.card-img-top{
  border-top-left-radius: 1rem !important; 
  border-top-right-radius: 1rem !important; 
  width: 100% !important; 
  object-fit: cover !important; 
  height: 60%;
}

.EditForm{
  margin: 1rem !important;
}

.CreateForm{
  margin: 1rem !important ;
}

.create_head{
  text-align: center !important;
}

.cardAnchor{
  text-decoration: none;
}